.post-gallery {
}


@media screen and (min-width:1000px) {
  .post-gallery .post-gallery-layout-1,
  .post-gallery .post-gallery-layout-2,
  .post-gallery .post-gallery-layout-3 {
    position: relative;
    margin-bottom: 2px;
  }

  .post-gallery .post-gallery-layout-1,
  .post-gallery .post-gallery-layout-2 {
    height: 428px;
  }

  .post-gallery .post-gallery-layout-3 {
    height: 213px;
  }


  .post-gallery .post-gallery-layout-1 .post-gallery-photo-1 {
    width: 646px;
    height: 428px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .post-gallery .post-gallery-layout-1 .post-gallery-photo-2 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .post-gallery .post-gallery-layout-1 .post-gallery-photo-3 {
    position: absolute;
    top: 215px;
    right: 0;
  }

  .post-gallery .post-gallery-layout-2 .post-gallery-photo-1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .post-gallery .post-gallery-layout-2 .post-gallery-photo-2 {
    position: absolute;
    top: 215px;
    left: 0;
  }
  .post-gallery .post-gallery-layout-2 .post-gallery-photo-3 {
    width: 646px;
    height: 428px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .post-gallery .post-gallery-layout-3 .post-gallery-photo-1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .post-gallery .post-gallery-layout-3 .post-gallery-photo-2 {
    position: absolute;
    top: 0;
    left: 322px;
    width: 324px;
  }
  .post-gallery .post-gallery-layout-3 .post-gallery-photo-3 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .content a.post-gallery-photo {
    display: block;
    width: 320px;
    height: 213px;
    background-size: cover;
    background-position: center;
  }
}


@media screen and (max-width:1000px) {
  .post-gallery .post-gallery-layout-1,
  .post-gallery .post-gallery-layout-2,
  .post-gallery .post-gallery-layout-3 {
    display: flex;
    justify-content: flex-start;
  }

  .content a.post-gallery-photo {
    display: block;
    width: 30vw;
    height: 20vw;
    background-size: cover;
    background-position: center;
    margin: 1px;
  }

}

.gallery-collage {
  width: 303px;
  height: 265px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:425px) {
  .gallery-collage {
    width: 260px;
    height: 196px;
  }
}

.gallery-collage-img {
  width: calc(303px / 2);
  height: calc(265px / 2);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width:425px) {
  .gallery-collage-img {
    width: 130px;
    height: 98px;
  }
}
