html,
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #3b3b3b;
}

.content {
  width: 968px;
  margin: 36px auto;
}

.page > .content {
  margin-top: 0px;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 90%
  }
}

.clearfix {
  clear: both;
}

.site-main a,
.site-main a:visited,
.content a,
.content a:visited,
.site-footer a,
.site-footer a:visited,
.link,
.link:visited {
  color: #fd991d;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0;

  transition: letter-spacing 0.6s;
}

.site-main p a:hover,
.content a:hover,
.link:hover {
  letter-spacing: 0.5px;
}

a.button,
a.button:visited,
.site-main a.button {
  border-radius: 8px;
  padding: 9px 36px;
  color: #1b5f9e;
  border: solid 2px #1b5f9e;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s;
}

a.button:hover,
.site-main a.button:hover {
  background: #1b5f9e;
  color: white;
}

@media screen and (max-width: 360px) {
  .button {
    padding: 6px;
    font-size: 16px;
  }
}

.button.primary:hover {
  color: #ffc303;
  background: white;
}

.button.primary {
  background: #ffc303;
  color: white;
  border: none 0px;
  /*text-shadow: 0 0 10px #9a9a9a;*/
}

.button.disabled {
  background: #d3d3d3;
	opacity: 0.8;
  color: white !important;
  border: none !important;
}

/*--------------------------------------------------------------
## Section
--------------------------------------------------------------*/


h1, h2.h1 {
  color: #275e96;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin: 30px 0 6px;
  text-transform: uppercase;
  line-height: 36px;
}

h2, h3, h4, h5 {
  font-weight: 400;
  color: #3b3b3b;
  margin: 24px 0 6px;
  line-height: 36px;
}

h2 {
  font-size: 32px;
}

.content .heading-explanation,
p.explanation,
.site-main .entry-meta {
  color: #8d8d8d;
  text-align: center;
  font-style: italic;
  line-height: 24px;
}

.content .heading-explanation,
.site-main .entry-meta {
  margin: 6px 0 6px;
}

article.col2 {
  width: 45%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

article.col2:nth-child(odd) {
  margin-right: 4%;
}

article.col2:nth-child(even) {
  margin-left: 4%;
}

article.col2:nth-child(odd):last-child {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 786px) {
  article.col2 {
    width: 47%;
  }

  article.col2:nth-child(odd) {
    margin-right: 2%;
  }

  article.col2:nth-child(even) {
    margin-left: 2%;
  }

}

@media screen and (max-width: 600px) {
  article.col2 {
    width: 100%;
  }

  article.col2:nth-child(odd) {
    margin-right: 0;
  }

  article.col2:nth-child(even) {
    margin-left: 0;
  }

  article.col2:nth-child(odd):last-child {
    margin-left: 0;
    margin-right: 0;
  }

}

article.col3 {
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

article.col3.left {
  margin-right: 4%;
}

article.col3.right {
  margin-left: 4%;
}


@media screen and (max-width: 786px) {
  article.col3 {
    width: 100%;
  }

  article.col3.left {
    margin-right: 0;
  }

  article.col3.right {
    margin-left: 0;
  }
}

article h3 {
  font-size: 32px;
  font-weight: 400;
  color: #3b3b3b;
  margin: 24px 0 36px;
  line-height: 42px;
}

article h3:after {
  content: "";
  display: block;
  position: relative;
  width: 240px;
  height: 1px;
  background: #8e8e8e;
  top: 18px;
}

@media screen and (max-width: 600px) {
  article h3:after {
    width: 60%;
  }
}


article.col2 h3 {
  text-align: left;
}

article.col2 h3:after {
  content: "";
  display: block;
  position: relative;
  width: 60%;
  height: 1px;
  background: #8e8e8e;
  top: 18px;
  margin: 0 0;
}


#workshops div.intro p,
.intro {
  font-size: 16px;
  color: #8f8f8f;
  font-style: italic;
  line-height: 24px;
  margin-top: 6px;
}

article p {
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
  margin: 12px 0;
}

@media screen and (max-width: 425px) {
  .intro,
  article p,
  article p.intro,
  article p.explanation {
    text-align: justify;
  }
}


.editions,
.media,
.center {
  text-align: center;
}

.editions h3:after,
.media h3:after,
.center h2:after {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .editions,
  .media,
  .center {
    text-align: left;
  }

  .editions h3:after,
  .media h3:after,
  .center h2:after {
    margin: 0;
  }
}


.panel {
  overflow: auto;
}

.frontpage .panel.underline {
  border-bottom: 1px solid #ccc;
}

.frontpage .panel.grey,
.content-wrapper.grey {
  background: #f2f2f2;
}

.frontpage .panel.light-grey,
.content-wrapper.light-grey {
  background: #fafafa;
}

.triangle-border {
  position: relative;
}

.front-header a:hover {
  letter-spacing: normal;
}
.news a,
.news .entry-meta a {
  text-decoration: none;
}

.news h3.entry-title:after{
  display: none;
}

.image-left {
  float: left;
  margin: 1em 2em 0 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#mc_embed_signup{
    background:#fff;
    clear:left;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 500px;
    padding: 20px;
    margin-left: -250px;
    z-index: 99;
    border-radius: 20px;
}

#mc_embed_signup h2:after {
  display: none;
}

#mc_embed_signup .clear {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

#mc_embed_signup .close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #fd991d;
}


@import './panel-faq.scss';
@import './gallery.scss';
@import './materials.scss';
@import './footer.scss';
@import './hero.scss';
@import './news.scss';
@import './partners.scss';
@import './summary.scss';
@import './team.scss';
@import './top-bar.scss';
