<div class="pager">
  <% if (page.prev){ %>
    <div class="previous">
      <a href="<%- config.root %><%- page.prev_link %>">&larr; Nowsze wpisy</a>
    </div>
  <% } %>
  <div class="spacer"></div>
  <% if (page.next){ %>
    <div class="next">
      <a href="<%- config.root %><%- page.next_link %>">Starsze wpisy &rarr;</a>
    </div>
  <% } %>
</div>
