<div id="primary" class="content-area">
  <header class="hero front-header">
    <div class="header-photo"></div>
    <div class="content">
      <h1 class="heading">
        <span>Kobieca strona <br/>&nbsp;JavaScriptu</span>
      </h1>

      <div class="sup-heading">Najbliższe warsztaty</div>

      <div class="hero-col">
        <div class="hero-col-item">
          <div class="hero-what">
            Kraków <br />
            11-12 maja 2018
          </div>
          <a class="button primary disabled">
            Rekrutacja zakończona
          </a>
        </div>
        <div class="hero-col-item">
          <div class="hero-what">
            Łódź <br />
            16 czerwca 2018
          </div>
          <a href="https://goo.gl/forms/fexGOfwgRgJz41jz1" title="Otwiera formularz Google" class="button primary">
            Aplikuj!
          </a>
        </div>
      </div>

      <div class="more-buttons">
        <a href="#workshops" class="button secondary triangle-border">O co chodzi?</a>
        <a href="https://vimeo.com/236962716" class="button secondary">Zobacz wideo</a>
      </div>

    </div>
  </header>
</div>
