<%
  include('../_helpers')
%>

<div class="panel white" id="mediaonas">
  <section class="content news-wrapper center">
    <a name="media"></a>
    <h2 class="h1">Media o nas</h2>
    <p class="intro">Czasami o nas piszą.</p>
    <div class="news-container">
      <%
        getPosts('media')
         .sort('date', -1)
         .slice(0, 3)
         .each(function(item){
      %>

         <%- partial('article-box', {item: item}) %>

      <% }); %>

    </div>
    <div class="gallery-button">
      <a href="<%- config.root %>categories/media/" class="button">Wszystkie wpisy</a>
    </div>
  </section>
</div>
