<%
  include('../_helpers')
%>

<div class="panel" id="news">
  <section class="content news-wrapper center">
    <a name="news"></a>
    <h2 class="h1">Jak to wygląda</h2>
    <p class="intro">Galerie z poprzednich edycji.</p>
    <div class="news-container">

      <% getPosts('gallery')
          .sort('date', -1)
          .slice(0, 3)
          .each(function(item){
      %>

       <%- partial('article-box', {item: item}) %>

      <% }); %>

    </div>
    <div class="gallery-button">
      <a href="<%- config.root %>categories/gallery/" class="button">Więcej zdjęć</a>
    </div>
  </section>
</div>
