<article  class="col2 team type-team">
  <h4 class="entry-title"><%- item.title %></h4>
  <img src="<%- config.root %>images/team/<%- item.image %>"/>
  <div class="entry-main-content">
    <%- item.content %>
  </div>
</article>
